version: '3.5'

services:
  db:
    container_name: flowfox_postgres
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER:?error}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?error}
      POSTGRES_DB: ${POSTGRES_DB:?error}
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - '${POSTGRES_PORT:?error}:${POSTGRES_PORT:?error}'
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
